doctype html
html
  head
    title Хэштеги
    meta(name='viewport', content='width=device-width')
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    script(src='javascripts/jquery.js')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="stylesheets/bootstrap-theme.min.css", rel="stylesheet")
    link(href="stylesheets/jquery-ui.css", rel="stylesheet")
    script(src='javascripts/jquery-ui.js')
    script.
      var usedperiod;
      var period;
      var skip=15;
      var min=0;

      var keys = [];
      function setKeys () {
          var temp = !{JSON.stringify(list)};
          for (var key in temp[0]['value']) {
            if (key.toString() == !{JSON.stringify(def)}) {
              usedperiod = keys.length;
            }
            keys.push(key);
          }
      }


      //кнопки выбора периода
      function choosePeriod (id) {
        if ($('#per'+id).hasClass("active")==false) {
          keys.forEach(function (elem,i) {
            if (i==id) {
              $('#per'+id).addClass('active');
              period = id;
            }
            else {
              $('#per'+i).removeClass('active');
            }
          });
        }
      }

      //применить параметры вывода твитов
      function apply () {
        var limit = parseInt($("#limit").val());
        if ($.isNumeric(limit) && limit>=0) {
          min=limit;
        }
        else {
          min=0;
        }
        skip=0;
        usedperiod=period;
        $("#tbody").empty();
        $("#load").show();
        loadTable();
      }

      //вывести информацию в таблицу
      function loadTable() {
        $.get('http://localhost:2000/show/', {period:keys[usedperiod],skip:skip,minimun:min}, function(json){
          skip+=json.list.length;
          if (json.list.length<15) {
            $("#load").hide();
          }
          json.list.forEach(function (doc) {
            var add = "<tr><td>" + doc._id + "</td>";
            keys.forEach(function (key) {
              add+="<td>"+doc.value[key]+"</td>";
            });
            add+="</tr>";
            $("#tbody").append(add);
          })
        });
      }

      //вывести информацию по конкретному хэштегу
      function findHashtag() {
         if ($("#autocomplete").val().search(/[^а-яА-ЯёЁa-zA-Z0-9_]/) == -1) {
           $.get('http://localhost:2000/find/'+$("#autocomplete").val().toLocaleLowerCase(), {}, function(json){
             $("#tbody").empty();
             $("#load").hide();
             if (json.mes != "error") {
               var add = "<tr><td>" + json.mes._id + "</td>";
               keys.forEach(function (key) {
                 if (key.toString() != '_id') {
                   add += "<td>" + json.mes.value[key] + "</td>";
                 }
               });
               add += "</tr>";
               $("#tbody").append(add);
             }
             else {
               $("#tbody").append("<tr><td>Не найдено</td></tr>");
             }
           });
         }
      }

      $(document).ready(function () {
        setKeys();
        //автокомплит
        $("#autocomplete").autocomplete({
          source: function (request, response) {
            if ($("#autocomplete").val().search(/[^а-яА-ЯёЁa-zA-Z0-9_]/) == -1) {
              $.get('http://localhost:2000/autocomplete/' + $("#autocomplete").val().toLocaleLowerCase(), {}, function (json) {
                response(json.list);
              });
            }
          },
          minLength: 3
        });
      });
  body
    block content
      h1 Статистика использования хэштегов
      div.row
        div.col-md-3.text-center
          div.form-horizontal
            p Период:
            div(role="group").btn-group
                - var keys = [];
                - for (var key in list[0].value) {
                  -if (key.toString() == def) {
                    button(onclick='choosePeriod('+keys.length+')', id='per'+keys.length).btn.btn-default.active=key
                  -} else {
                    button(onclick='choosePeriod('+keys.length+')', id='per'+keys.length).btn.btn-default=key
                - } keys.push(key); }
            input#limit.form-control(placeholder="Минимум упоминаний")
            button(onclick="apply()").btn.btn-default Применить
          p.vertical-center Или
          p Показать информацию о хэштеге:
          div.form-inline
            div.input-group
              span.input-group-addon #
              input#autocomplete.form-control
            button(onclick="findHashtag()").btn.btn-default
              i.glyphicon.glyphicon-search
        div.col-md-9
          table.table.table-striped
            thead
              tr#thead
                th Хэштег
                  - keys.forEach(function (key) {
                  th=key
                  -})
            tbody#tbody
              - list.forEach(function (doc) {
                  tr
                    td=doc._id
                    - keys.forEach(function (key) {
                    td=doc.value[key]
                    -})
              -});
          div.text-center
            button#load(onclick="loadTable()").btn.btn-default Ещё